<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.sky64.retrofit_practice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalUserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CourseListActivity" />
        <activity android:name=".Activities.CourseDetailActivity" />
        <activity android:name=".Activities.AddCourseActivity" />
        <activity android:name=".Activities.EditCourseActivity" />
        <activity android:name=".Activities.AddAssignmentActivity" />
        <activity android:name=".Activities.AssignmentActivity" />
        <activity android:name=".Activities.EditAssignmentActivity" />
        <activity android:name=".Activities.AssignmentListActivity" />
        <activity android:name=".Activities.NoticeActivity" />
        <activity android:name=".Activities.NoticeWriteActivity" />
        <activity android:name=".Activities.FileUploadActivity" />
        <activity android:name=".Activities.NoticeDetailActivity" />
        <activity android:name=".Activities.NoticeEditActivity"></activity>
    </application>

</manifest>